<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Classification</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container" style="margin-top: 10px">
    <div class="jumbotron text-center">
        <h1>PHÂN LOẠI CẢM XÚC</h1>
        <p>Áp dụng NLP vào phân loại cảm xúc comment foody</p>
    </div>
    <form method="POST">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            <input class="btn btn-success text-right" type="submit" style="margin-top: 10px; float: right;">

        </div>
    </form>
    <div class="result">
        <h3>Kết quả phân tích</h3>
        {% if dict[1] != None %}
        {% endif %}
        <p>Sentences: "{{dict[1]}}"</p>
        <p>Label: {{dict[0]}}</p>

    </div>

</div>

</body>
</html>
